.wrapper{
    display: flex;
    margin: 150px 600px;
}
.wrapper_one{
    background: blanchedalmond;
    border: 1px solid black;
    width: 250px;
    height: 100px;
    border-radius: 15px;
    text-align: center;
    padding-top: 30px;
}
.indent{
    width: 170px;
margin-top: 10px;
}
.indent_operator{
    margin: 50px 20px 20px ;
}